@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
  --BGCOLOR: #121212;
  --SURFACE: rgba(255, 255, 255, 5%);
  --SURFACE-HOVER: rgba(255, 255, 255, 3%);
  --BORDER-COLOR: rgba(255, 255, 255, 5%);
  --COLOR: #FFF;
  --ERROR: #EA6D7E;
  --INACTIVE: rgba(255, 255, 255, 3%);
  --LINK-COLOR: #f5f5f5e6;
  --LINK-HOVER: #FFF;
  --STATUS-COMPLETE: #74E39A;
  --STATUS-OPEN: #EA6D7E;
  --INPUT-INVALID: #DD0D3C;
  --PRIMARY: #bb86fc;
  --PRIMARY-HOVER: #b076f7;
}

/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  color: var(--ERROR);
  margin-bottom: 0.5em;
}

.errmsg a:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  width: 48px;
  height: 48px;
  font-size: 1.25rem;
  background-color: transparent;
  border: none;
  color: var(--LINK-COLOR);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.icon-button:hover,
.icon-button:focus-visible {
  color: var(--LINK-HOVER);
}

.icon-button[disabled] {
  visibility: hidden;
}

/* || GENERAL STYLES */

body {
  font-family: 'poppins', sans-serif;
  min-height: 100vh;
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:any-link {
  color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

h2 {
  font-weight: 300;
  font-size: 1.75rem;
  margin-bottom: 5px;
}

/*  || SCROLLBAR */

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--BGCOLOR);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--SURFACE)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--SURFACE-HOVER)
}

/* || PAGES */

.public,
.welcome {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 300;
}

.public {
  padding: 1em;
  flex-grow: 1;
}

.public header { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.public header a {
  font-size: 1.25rem;
  margin-right: 10px
}

.public__main,
.login {
  flex-grow: 1;
  border-top: 2px solid var(--BORDER-COLOR);
  padding: 1em 0;
}

.public__main {
  padding: 2rem 1rem;
}

.public__addr {
  margin-top: 1em;
}

.welcome {
  margin: 10px 0 0 25px;
}

.welcome p {
  color: var(--PRIMARY);
}

/* || DASH HEADER, CONTAINER & FOOTER */

.dash-header {
  position: sticky;
  top: 0;
  background-color: var(--BGCOLOR);
  padding: 0.5rem 1rem;
}

.dash-header::after,
.dash-footer::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--SURFACE);
  z-index: -1;
}

.dash-header::after {
  top: 0;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.dash-header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.dash-header__container--small {
  max-width: 800px;
}

.dash-header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5em;
}

.dash-header__title {
  color: var(--COLOR);
  font-size: 2rem;
}

.dash-container {
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.dash-footer {
  font-size: 1rem;
  font-weight: 300;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0.7rem 1.5rem;
  border-top: 1px solid var(--BORDER-COLOR);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
}

.dash-footer::after {
  bottom: 0;
  border-top: 1px solid var(--BORDER-COLOR);
}

.dash-footer__button {
  font-size: 1rem;
  width: auto;
  height: auto;
}

/* ||  USER & NOTES*/

.content__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 25px auto;
  max-width: 500px;
}

.user__container:hover,
.note__container:hover {
  background-color: var(--SURFACE-HOVER);
}

.user__container,
.note__container  {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--SURFACE);
  border: 1px solid var(--BORDER-COLOR);
  border-radius: 8px;
  margin-bottom: 22px;
  padding: 25px 25px;
  gap: 15px;
  cursor: pointer;
  font-size: 1.25rem;
}

.user__container-top,
.note__container-top {
  display: flex;
  justify-content: space-between;
}

.user__container-bottom,
.note__container-bottom,
.note__container-mid {
  color: var(--LINK-COLOR);
  font-size: 1rem;
  font-weight: 300;
}

.note__container {
  font-size: 1.25rem;
  gap: 5px;
}

.note__container-top span {
  margin-left: 25px;
}

.note__container-mid {
  color: var(--PRIMARY);
}

.note__container-bottom {
  display: flex;
  justify-content: space-between;
}

.date__container {
  display: flex;
  justify-content: space-between;
}

.note__status--open {
  color: var(--STATUS-OPEN);
}

.note__status--completed {
  color: var(--STATUS-COMPLETE);
}

.card--inactive {
  background-color: var(--INACTIVE);
  color: var(--LINK-COLOR);
}

/* || FORM - GENERAL */

.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 25px auto;
  max-width: 500px;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5em;
  margin-bottom: 25px;
}

.form__select-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 25px;
  font-size: 1.15rem;
}

.form__timestamp-container {
  display: flex;
  margin-bottom: 25px;
}

.form__persist {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5em;
  margin-top: 25px;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__label {
  font-size: 1.25rem;
}

.form__input,
.form__submit-button {
  padding: 0.5rem;
  border-radius: 8px;
}

.form__submit-button {
  background-color: var(--PRIMARY);
  border: none;
  color: var(--BGCOLOR);
  cursor: pointer;
}

.form__submit-button:hover {
  background-color: var(--PRIMARY-HOVER);
}

.form__input {
  background-color: var(--SURFACE);
  border: 1px solid var(--BORDER-COLOR);
  color: var(--COLOR);
  font-size: 1.15rem;
  margin: 5px 0 25px 0;
}

.form__input:focus {
  outline-width: 0;
}

.form__input--text {
  min-height: 150px;
  resize: vertical;
}

.form__input--incomplete {
  outline: 1px solid var(--INPUT-INVALID);
}

.form__checkbox {
  width: 20px;
  height: 20px;
}

.form__select {
  width: fit-content;
  padding: 0.25em;
  background-color: var(--SURFACE);
  color: var(--COLOR);
  border: 1px solid var(--BORDER-COLOR);
  border-radius: 8px;
}

.form__select:focus {
  outline-width: 0;
}

.form__action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  right: 0.5em;
}

.form__row {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
  margin-bottom: 25px;
}

.form__divider {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
  row-gap: 25px;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }

  .dash-header__nav {
    gap: 0;
  }

  .icon-button {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .dash-header {
    padding: 0.5rem 0.5rem;
  }

  .dash-header__nav {
    gap: 0;
  }

  .dash-footer {
    padding: 0.5rem 0.5rem;
  }

  .public header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
  }

  .welcome {
    margin: 10px 0 0 0;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.25rem;
  }

  .dash-header {
    padding: .5rem 1.5rem;
  }

  .dash-container {
    padding: 1em;
  }

  .form__action-buttons {
    position: static;
  }
}